{% extends 'base.html' %}
{% load humanize %}

{% block title %}
    Expenses
{% endblock title %}

{% block toolbar %}
<div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" name="button" class="btn btn-sm btn-outline-secondary" id="expenses-create">
      <span data-feather="plus"></span>
      Add new expenses
    </button>
  </div>
{% endblock toolbar %}


{% block content %}
<form method="GET" class="form-inline mb-3">
    {% for field in search %}
        <div class="field-group mr-sm-2">
            {{field}}
        </div>

    {% endfor %}

    <button type="submit" class="btn btn-primary btn-sm">Search</button>
</form>


{% if object_list %}
<div class="row">
    <div class="col">
        <h4>
            Total Expenses: {{currency}} {{total.total|intcomma}}
        </h4>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>S/N</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>

            {% for item in object_list %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>
                        <details>
                            <summary> {{item}}</summary>
                            <p>{{item.additional_comment}}<br>
                                {{item.date}}<br>
                                <a data-form-url="{% url 'expenses-update' item.id %}" class="bs-modal"><span data-feather="edit"></span></a>
                                <a data-form-url="{% url 'expenses-delete' item.id %}" class="bs-modal text-danger"><span data-feather="delete"></span></a>
                            </p>
                        </details>
                    </td>
                    <td>{{currency}} {{item.amount|intcomma}}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% else %}
    There are currently no expenses
{% endif %}


<div class="modal fade" role="dialog" id="modal" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>


{% endblock content %}



{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#expenses-create").modalForm({
                formURL: "{% url 'expenses-create' %}"
            });

            $(".bs-modal").each(function () {
                $(this).modalForm({
                    formURL: $(this).data('form-url')
                });
            });

        });
    </script>
{% endblock scripts %}
