{% extends 'base.html' %}
{% load humanize %}


{% block title %}
    {{object}}
{% endblock title %}


{% block content %}

<div class="btn-toolbar mb-2">
    <button type="button" name="button" class="btn btn-sm btn-outline-secondary">
      {{object.session}} Session
    </button>
    <button type="button" name="button" class="btn btn-sm btn-outline-secondary">
      {{object.term}}
    </button>
    <button type="button" name="button" class="btn btn-sm btn-outline-secondary">
      {{object.class_for}}
    </button>
</div>

<div class="row">
    <div class="col-6 col-md-4">
        <div class="card bg-primary text-white">
            <div class="card-body">
              <h5 class="card-title">Total Amount Payable</h5>
              <h6 class="card-subtitle mb-2"> {{currency}} {{object.amount_payable|intcomma}} </h6>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-4">
        <div class="card bg-success text-white">
            <div class="card-body">
              <h5 class="card-title">Total Amount Paid</h5>
              <h6 class="card-subtitle mb-2">{{currency}} {{object.paid|intcomma}}</h6>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-4">
        <div class="card bg-danger text-white">
            <div class="card-body">
              <h5 class="card-title">Debt</h5>
              <h6 class="card-subtitle mb-2">{{currency}} {{object.balance|intcomma}}</h6>
            </div>
        </div>
    </div>



</div>

<div class="table-responsive">
    <table class="mt-2 mb-2 table table-bordered">
        <thead>
            <tr>
                <th class="text-danger">Payments</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>
                    {% if object.payment_set.all %}
                        <ul class="list-group">
                            {% for item in object.payment_set.all %}
                            <li class="list-group-item">
                                <div class="float-right">
                                    <small class="form-text text-muted">
                                        {{item.date}}
                                    </small>
                                    <a data-form-url="{% url 'payment-delete' item.id %}" data-toggle="tooltip" title="Delete" class="bs-modal text-danger"><span data-feather="trash"></span></a>
                                </div>
                                {{item.bank}}
                                <span data-feather="arrow-right"></span>
                                <strong>{{currency}} {{item.amount_paid|intcomma}}</strong>

                                <small class="form-text text-muted">
                                    {{item.comment}}
                                </small>
                            </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>There are no payment yet</p>
                    {% endif %}



                </td>
            </tr>


        </tbody>
    </table>
</div>


<div class="modal fade" role="dialog" id="modal" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>



{% endblock content %}


{% block scripts %}
    <script>
        $(document).ready(function() {
            $(".bs-modal").each(function () {
                $(this).modalForm({
                    formURL: $(this).data('form-url')
                });
            });
        });
    </script>



{% endblock scripts %}
