<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home' %}">
            <span data-feather="home"></span>
            Dashboard <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'students' %}">
            <span data-feather="users"></span>
            Students
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'expenses' %}">
            <span data-feather="users"></span>
            Expenses
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'settings' %}">
            <span data-feather="settings"></span>
            Settings
          </a>
        </li>
      </ul>
    </div>
  </nav>
